@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* base styles */

.value-list-item {
  border-bottom: 1px solid #afafaf36;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  padding: 15px;
}

.picked {
  border-bottom: 1px solid #afafaf36;
  padding: 15px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #f1f1f15c;
}
.value-list-item label {
  width: 95%;

  display: inline-block;
}
input.value-list-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0px;
}

input[type="checkbox"] {
  display: inline-block;
  padding-top: 25px;
  padding-top: 25px;
  position: relative;
  top: 15px;
  right: 0px;
  float: right;
}

.show {
  visibility: visible;
  text-align: left;

}

.hidden {
  visibility: hidden;
  position: absolute;
}

.topCardContainer {
  position: relative;
}

.noStyleList {
  list-style: none;
}

.links a {
  margin-left: 10px;
}

.zindex {
  z-index: -100;
  margin: "auto";
  border: "1px solid";
  height: "120px";
  width: "75%";
  position: "relative";
  top: "-130px";
  left: "5px";
}

.app {
  background-color: white;
  max-width: 852px;
  margin: auto;
  height: 100vh;
}

.lala {
  width: 100%;
  max-width: 852px;
  margin: auto;
  height: 2rem;
  position: fixed;
  bottom: 0;

  padding-bottom: 2rem;
}

.slideOut {
  position: relative;
  animation-name: myfirst;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-delay: 50ms;
}

@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 500px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 1000000px;
  }
}

.appBarPadder {
  height: 65px;
}

.padderTop {
  padding-top: 35px;

}

.appWrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
}

html {
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 240, 240);
}
