/* base styles */

.value-list-item {
  border-bottom: 1px solid #afafaf36;
  border-radius: 6px;
  width: 95%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.picked {
  border-bottom: 1px solid #afafaf36;
  border-radius: 6px;
  background-color: #b3bbb51e;
  width: 95%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.value-list-item label {
  width: 95%;
  display: inline-block;
}
input.value-list-checkbox {
  width: 2rem;
  height: 2em;
  padding: 10px;
}

input[type="checkbox"] {
  position: absolute;
  right: 36px;
  vertical-align: middle;
  background-color: white;
  color: #1976d2;
}

.show {
  visibility: visible;
  opacity: 100%;
  transition: opacity 1s;
  text-align: left;
  position: relative;
}

.relative {
  position: relative;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: 100px solid green;
}

.topCardContainer {
  position: relative;
}

.noStyleList {
  list-style: none;
  text-align: left;
}

.links a {
  margin-left: 10px;
}

.zindex {
  z-index: -100;
  margin: "auto";
  border: "1px solid";
  height: "120px";
  width: "75%";
  position: "relative";
  top: "-130px";
  left: "5px";
}

.app {
}

.lala {
  width: 100%;
  max-width: 852px;
  margin: auto;
  height: 2rem;
  position: fixed;
  bottom: 0;

  padding-bottom: 2rem;
}

.slideOut {
  position: relative;
  animation-name: myfirst;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-delay: 50ms;
}

@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 500px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 1000000px;
  }
}

.appBarPadder {
  height: 79px;
  width: 100%;
  max-width: 853px;
}

.padderTop {
  padding-top: 35px;
}

.textWrapper {
  max-width: 700px;
  margin: auto;
}

html {
  height: 100vh;
  width: 100%;
}

.white {
  background-color: white;
}

@media (min-width: 450px) {
}

.choosen {
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: green;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transform90 {
  transform: rotateY(180deg);
}

.blueWhiteAvatar {
  background-color: "primary.main";
  color: "blue";
}

#white {
  background-color: white;
}

.MuiDivider-vertical-white {
  background-color: white;
}

.hiddenCard {
  display: none;
  background-color: green;
}

.bottomRighButton {
  float: "right";
  margin-bottom: "15px";
  margin-top: "45px";
  margin-right: "15px";
}

body {
  background-color: #f1faee;
}

.notDoneProgress {
  background-color: #6a7a83;
}

.doneProgress {
  background-color: #45644e;
  padding-bottom: "17px";
  padding-top: "17px";
}

.text {
  max-width: "445px";
  margin: "auto";
}

.inverted-border-radius-left::before {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: -50px;
  left: 0;
  height: 50px;
  width: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 -20px 0 0 #ffffff; /* This is where the magic happens! */
}

.inverted-border-radius-right::before {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: -50px;
  right: 0;
  height: 50px;
  width: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -20px 0 0 #ffffff; /* This is where the magic happens! */
}

.diagonal-box {
  position: relative;
}

.diagonal-box::before {
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  transform: skewY(-11deg);
}

.content {
  max-width: 50em;
  margin: 0 auto;
  position: relative;
}

.css-1t29gy6-MuiToolbar-root {
  min-height: 34px;
}

.shapedividers_com-2737 {
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
.shapedividers_com-2737::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 88px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.646 0.529" preserveAspectRatio="none"><g fill="%23fbd8c2"><path d="M2.646.53H0L1.323.264z"/><path d="M2.646.53L1.323 0 0 .53z" opacity=".66"/></g></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-2737::before {
    background-size: 100% 88px;
    background-position: 50% 100%;
  }
}

@media (min-width: 1025px) {
  .shapedividers_com-2737::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 88px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.646 0.529" preserveAspectRatio="none"><g fill="%23455a64"><path d="M2.646.53H0L1.323.264z"/><path d="M2.646.53L1.323 0 0 .53z" opacity=".66"/></g></svg>');
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-2737::before {
    background-size: 100% calc(2vw + 88px);
  }
}

.navBarLogo {
  height: 42px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.headerLogo {
  height: 70px;
}

.topHeader {
  height: 550px;
}

.nav {
  transition: all 0.1s linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  padding: 20px;
}
.false {
  padding: 0px;
}
.scrollNav {
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in;
  z-index: 2000;
  background: #ffffff;
  width: 100%;
  padding: 0;
}
